<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hello C</title>
</head>
<body>
<h1>client C</h1>
<a href="javascript:;" onclick="reqBack()">back to index</a><br/>
<a href="/logout">logout</a>
</body>
<script lang="javascript">
    function reqBack(){
        var xmlhttp=new XMLHttpRequest();
        xmlhttp.open("GET","http://localhost/hello?=2",true);
         xmlhttp.setRequestHeader("X-Requested-With","XMLHttpRequest")
        xmlhttp.send(null);

    }</script>
</html>